<tables>
    <table name="rnastar_index2" comment_char="#" allow_duplicate_entries="False">
        <columns>value, dbkey, name, path, with-gtf</columns>
        <file path="tool-data/rnastar_index2.loc" />
    </table>
</tables>
